
<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>


### 1. Todas las empresas cuyo nombre sea 'Babelgum'. Recupera solo su campo `name`.
### 2. Todas las empresas que tienen más de 5000 empleados. Limita la búsqueda a 20 empresas y ordénalas por **número de empleados**.
### 3. Todas las empresas fundadas entre 2000 y 2005, incluyendo ambos años. Recupera solo los campos `name` y `founded_year`.
### 4. Todas las empresas que tuvieron una valoración de más de 100.000.000 y que fueron fundadas antes de 2010. Recupera solo los campos `name` e `ipo`.
### 5. Todas las empresas que tienen menos de 1000 empleados y que fueron fundadas antes de 2005. Ordénalas por el número de empleados y limita la búsqueda a 10 empresas.
### 6. Todas las empresas que no incluyen el campo `partners`.
### 7. Todas las empresas que tienen un valor nulo en el campo `category_code`.
### 8. Todas las empresas que tienen al menos 100 empleados pero menos de 1000. Recupera solo los campos `name` y `number of employees`.
### 9. Ordena todas las empresas por su precio de IPO en orden descendente.
### 10. Recupera las 10 empresas con más empleados, ordenadas por el `número de empleados`.
### 11. Todas las empresas fundadas en el segundo semestre del año. Limita tu búsqueda a 1000 empresas.
### 12. Todas las empresas fundadas antes del año 2000 que tienen un monto de adquisición superior a 10.000.000.
### 13. Todas las empresas que han sido adquiridas después de 2010, ordénalas por el monto de adquisición, y recupera solo los campos `name` y `acquisition`.
### 14. Ordena las empresas por su `founded year`, recuperando solo los campos `name` y `founded year`.
### 15. Todas las empresas que han sido fundadas en los primeros siete días del mes, incluyendo el séptimo. Ordénalas por su `acquisition price` en orden descendente. Limita la búsqueda a 10 documentos.
### 16. Todas las empresas en la categoría 'web' que tienen más de 4000 empleados. Ordénalas por la cantidad de empleados en orden ascendente.
### 17. Todas las empresas cuyo monto de adquisición es superior a 10.000.000, y cuya moneda es 'EUR'.
### 18. Todas las empresas que han sido adquiridas en el primer trimestre del año. Limita la búsqueda a 10 empresas, y recupera solo los campos `name` y `acquisition`.

In [2]:
import json
import pandas as pd
import numpy as np
from datetime import datetime

import pymongo

pd.set_option("display.max_columns", None)

In [3]:
cliente = pymongo.MongoClient()
print(cliente)

# nos conectamos a la BBDD 
mydb = cliente['LabMongo']

#Vemos las colecciones de la BBDD
mydb.list_collection_names()
companies = mydb["Companies"]
print(companies)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'LabMongo'), 'Companies')

##### 1. Todas las empresas cuyo nombre sea 'Babelgum'. Recupera solo su campo `name`.

In [4]:
nombre_babelgum = list(companies.find({"name":"Babelgum"}))
print(f"Hay {len(nombre_babelgum)} empresas cuyo nombre es Babelgum.")

Hay 1 empresas cuyo nombre es Babelgum.

##### 2. Todas las empresas que tienen más de 5000 empleados. Limita la búsqueda a 20 empresas y ordénalas por **número de empleados**.

In [5]:
mas_5000_empleados = list(companies.find({"number_of_employees":{"$gt":5000}}).limit(20).sort({"number_of_employees":-1}))
print(f"Hemos encontrado {len(mas_5000_empleados)} empresas con más de 5000 empleados.")

Hemos encontrado 20 empresas con más de 5000 empleados.

3. Todas las empresas fundadas entre 2000 y 2005, incluyendo ambos años. Recupera solo los campos `name` y `founded_year`.

In [6]:
empresas_2000_2005=list(companies.find({'founded_year': {'$in':[2000,2001,2002,2003,2004,2005]}}, {'name':1, 'founded_year':1}))
print(f"Hay {len(empresas_2000_2005)} empresas fundadas entre 2000 y 2005, ambos inclusive.")

Hay 3734 empresas fundadas entre 2000 y 2005, ambos inclusive.

4. Todas las empresas que tuvieron una valoración de más de 100.000.000 y que fueron fundadas antes de 2010. Recupera solo los campos `name` e `ipo`.

In [10]:
cond_1 = {"ipo.valuation_amount": {'$gt':100000000}}
cond_2 = {"founded_year": {'$lt':2010}}
df_ej4= pd.DataFrame(companies.find({'$and':[cond_1, cond_2]}, {'_id':0, 'name':1, 'ipo':1}))
df_ej4 = pd.concat([df_ej4, df_ej4["ipo"].apply(pd.Series)], axis=1)
df_ej4.drop(columns=["ipo"], inplace=True)
df_ej4.head()

,name,valuation_amount,valuation_currency_code,pub_year,pub_month,pub_day,stock_symbol
0,Facebook,104000000000,USD,2012.0,5.0,18.0,NASDAQ:FB
1,Twitter,18100000000,USD,2013.0,11.0,7.0,NYSE:TWTR
2,Yelp,1300000000,USD,2012.0,3.0,2.0,NYSE:YELP
3,LinkedIn,9310000000,USD,2011.0,7.0,20.0,NYSE:LNKD
4,Amazon,100000000000,USD,1997.0,5.0,NaN,NASDAQ:AMZN

5. Todas las empresas que tienen menos de 1000 empleados y que fueron fundadas antes de 2005. Ordénalas por el número de empleados y limita la búsqueda a 10 empresas.