
<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>


### 1. Todas las empresas cuyo nombre sea 'Babelgum'. Recupera solo su campo `name`.
### 2. Todas las empresas que tienen más de 5000 empleados. Limita la búsqueda a 20 empresas y ordénalas por **número de empleados**.
### 3. Todas las empresas fundadas entre 2000 y 2005, incluyendo ambos años. Recupera solo los campos `name` y `founded_year`.
### 4. Todas las empresas que tuvieron una valoración de más de 100.000.000 y que fueron fundadas antes de 2010. Recupera solo los campos `name` e `ipo`.
### 5. Todas las empresas que tienen menos de 1000 empleados y que fueron fundadas antes de 2005. Ordénalas por el número de empleados y limita la búsqueda a 10 empresas.
### 6. Todas las empresas que no incluyen el campo `partners`.
### 7. Todas las empresas que tienen un valor nulo en el campo `category_code`.
### 8. Todas las empresas que tienen al menos 100 empleados pero menos de 1000. Recupera solo los campos `name` y `number of employees`.
### 9. Ordena todas las empresas por su precio de IPO en orden descendente.
### 10. Recupera las 10 empresas con más empleados, ordenadas por el `número de empleados`.
### 11. Todas las empresas fundadas en el segundo semestre del año. Limita tu búsqueda a 1000 empresas.
### 12. Todas las empresas fundadas antes del año 2000 que tienen un monto de adquisición superior a 10.000.000.
### 13. Todas las empresas que han sido adquiridas después de 2010, ordénalas por el monto de adquisición, y recupera solo los campos `name` y `acquisition`.
### 14. Ordena las empresas por su `founded year`, recuperando solo los campos `name` y `founded year`.
### 15. Todas las empresas que han sido fundadas en los primeros siete días del mes, incluyendo el séptimo. Ordénalas por su `acquisition price` en orden descendente. Limita la búsqueda a 10 documentos.
### 16. Todas las empresas en la categoría 'web' que tienen más de 4000 empleados. Ordénalas por la cantidad de empleados en orden ascendente.
### 17. Todas las empresas cuyo monto de adquisición es superior a 10.000.000, y cuya moneda es 'EUR'.
### 18. Todas las empresas que han sido adquiridas en el primer trimestre del año. Limita la búsqueda a 10 empresas, y recupera solo los campos `name` y `acquisition`.

In [37]:
import json
import pandas as pd
import numpy as np
from datetime import datetime

import pymongo

pd.set_option("display.max_columns", None)

In [38]:
cliente = pymongo.MongoClient()
print(cliente)

# nos conectamos a la BBDD 
mydb = cliente['LabMongo']

#Vemos las colecciones de la BBDD
mydb.list_collection_names()
companies = mydb["Companies"]
print(companies)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'LabMongo'), 'Companies')

##### 1. Todas las empresas cuyo nombre sea 'Babelgum'. Recupera solo su campo `name`.

In [39]:
nombre_babelgum = list(companies.find({"name":"Babelgum"}))
print(f"Hay {len(nombre_babelgum)} empresas cuyo nombre es Babelgum.")

Hay 1 empresas cuyo nombre es Babelgum.

##### 2. Todas las empresas que tienen más de 5000 empleados. Limita la búsqueda a 20 empresas y ordénalas por **número de empleados**.

In [40]:
mas_5000_empleados = list(companies.find({"number_of_employees":{"$gt":5000}}).limit(20).sort({"number_of_employees":-1}))
print(f"Hemos encontrado {len(mas_5000_empleados)} empresas con más de 5000 empleados.")

Hemos encontrado 20 empresas con más de 5000 empleados.

3. Todas las empresas fundadas entre 2000 y 2005, incluyendo ambos años. Recupera solo los campos `name` y `founded_year`.

In [41]:
empresas_2000_2005=list(companies.find({'founded_year': {'$in':[2000,2001,2002,2003,2004,2005]}}, {'name':1, 'founded_year':1}))
print(f"Hay {len(empresas_2000_2005)} empresas fundadas entre 2000 y 2005, ambos inclusive.")

Hay 3734 empresas fundadas entre 2000 y 2005, ambos inclusive.

4. Todas las empresas que tuvieron una valoración de más de 100.000.000 y que fueron fundadas antes de 2010. Recupera solo los campos `name` e `ipo`.

In [42]:
cond_1 = {"ipo.valuation_amount": {'$gt':100000000}}
cond_2 = {"founded_year": {'$lt':2010}}
df_ej4= pd.DataFrame(companies.find({'$and':[cond_1, cond_2]}, {'_id':0, 'name':1, 'ipo':1}))
df_ej4 = pd.concat([df_ej4, df_ej4["ipo"].apply(pd.Series)], axis=1)
df_ej4.drop(columns=["ipo"], inplace=True)
df_ej4.head()

,name,valuation_amount,valuation_currency_code,pub_year,pub_month,pub_day,stock_symbol
0,Facebook,104000000000,USD,2012.0,5.0,18.0,NASDAQ:FB
1,Twitter,18100000000,USD,2013.0,11.0,7.0,NYSE:TWTR
2,Yelp,1300000000,USD,2012.0,3.0,2.0,NYSE:YELP
3,LinkedIn,9310000000,USD,2011.0,7.0,20.0,NYSE:LNKD
4,Amazon,100000000000,USD,1997.0,5.0,NaN,NASDAQ:AMZN

5. Todas las empresas que tienen menos de 1000 empleados y que fueron fundadas antes de 2005. Ordénalas por el número de empleados y limita la búsqueda a 10 empresas.

In [43]:
cond_1 = {"number_of_employees":{'$lt':1000}}
cond_2 = {'founded_year':{"$lt":2005}}
df_ej5=pd.DataFrame(companies.find({"$and": [cond_1, cond_2]}).sort("number_of_employees").limit(10))
df_ej5.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297dbc,Skype,skype,http://www.crunchbase.com/company/skype,http://www.skype.com,http://blogs.skype.com,http://feeds.feedburner.com/shareskypeen,skype,software,0,2003,8.0,NaN,NaN,NaN,NaN,,"phone, voip, sweden, skype",,,94117733,VoIP Software,Tue Jul 03 05:20:31 UTC 2007,Wed Dec 11 13:03:57 UTC 2013,<p>Skype is a software application that allows...,"{'available_sizes': [[[150, 66], 'assets/image...","[{'name': 'Skype', 'permalink': 'skype'}, {'na...","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'fring Ltd', 'permali...","[{'title': '', 'is_past': False, 'provider': {...",$76.8M,"[{'id': 79, 'round_code': 'b', 'source_url': '...","[{'funding_round': {'round_code': 'a', 'source...","{'price_amount': 2600000000, 'price_currency_c...","[{'price_amount': 150000000, 'price_currency_c...","[{'description': 'Global HQ', 'address1': '23-...","[{'id': 552, 'description': 'Skype released pu...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[150, 130], 'assets/ima...",[{'external_url': 'http://www.ewdn.com/2011/06...,[]
1,52cdef7c4bab8bd675298063,Simpy,simpy,http://www.crunchbase.com/company/simpy,http://www.simpy.com,http://blog.simpy.com/,http://blog.simpy.com/blojsom/blog/?flavor=rss2,None,web,0,2004,5.0,1.0,NaN,NaN,NaN,None,social-bookmarks,None,,,None,Wed Oct 24 19:32:41 UTC 2007,Mon Mar 07 02:52:16 UTC 2011,<p>Simpy is a social bookmarking service. With...,"{'available_sizes': [[[32, 32], 'assets/images...","[{'name': 'Simpy', 'permalink': 'simpy'}]","[{'is_past': True, 'title': 'Founder', 'person...",[],[],$0,[],[],None,[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[{'external_url': 'http://www.hiking-unlimited...,[]
2,52cdef7c4bab8bd67529807b,Eurekster,eurekster,http://www.crunchbase.com/company/eurekster,http://www.eurekster.com,,None,None,web,0,2004,1.0,1.0,2008.0,5.0,22.0,http://www.readwriteweb.com/archives/trouble_a...,None,None,,,None,Mon Oct 29 18:30:16 UTC 2007,Mon Feb 16 23:03:23 UTC 2009,<p>Eurekster provides social search technologi...,"{'available_sizes': [[[150, 23], 'assets/image...","[{'name': 'swicki', 'permalink': 'swicki'}]","[{'is_past': False, 'title': 'Chairman/ Co-Fou...","[{'competitor': {'name': 'Aardvark', 'permalin...","[{'title': '', 'is_past': False, 'provider': {...",$6.85M,"[{'id': 829, 'round_code': 'a', 'source_url': ...",[],None,[],"[{'description': None, 'address1': '', 'addres...",[],None,"[{'embed_code': '<div style=""width:320px;""><di...",[],[],[]
3,52cdef7c4bab8bd675297e12,Ticketmaster,ticketmaster,http://www.crunchbase.com/company/ticketmaster,http://www.ticketmaster.com,,,Ticketmaster,web,0,1976,1.0,1.0,NaN,NaN,NaN,,None,Ticketmaster Entertainment,media@ticketmaster.com,,,Tue Jul 17 12:20:35 UTC 2007,Sat Jul 13 11:19:00 UTC 2013,<p>Ticketmaster is an online retailer of event...,"{'available_sizes': [[[150, 44], 'assets/image...","[{'name': 'Ticketmaster.com', 'permalink': 'ti...","[{'is_past': False, 'title': 'CTO', 'person': ...","[{'competitor': {'name': 'Seatwave', 'permalin...",[],$0,[],"[{'funding_round': {'round_code': 'b', 'source...","{'price_amount': None, 'price_currency_code': ...","[{'price_amount': 265000000, 'price_currency_c...","[{'description': 'World Headquarters', 'addres...",[],None,[],"[{'available_sizes': [[[102, 150], 'assets/ima...",[],[]
4,52cdef7c4bab8bd675297d93,Fox Interactive Media,fox-interactive-media,http://www.crunchbase.com/company/fox-interact...,http://www.newscorp.com,,,twitterapi,web,0,1979,6.0,1.0,NaN,NaN,NaN,,,None,,,,Thu May 31 21:46:57 UTC 2007,Mon Aug 19 17:13:27 UTC 2013,<p>Fox Interactive Media (FIM) oversees <a hre...,"{'available_sizes': [[[150, 71], 'assets/image...",[],"[{'is_past': False, 'title': '', 'person': {'f...",[],[],$0,[],"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 20000000, 'price_currency_co...","[{'description': '', 'address1': '407 N Maple ...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]

6. Todas las empresas que no incluyen el campo `partners`.

In [44]:
df_ej6 = pd.DataFrame(companies.find({'partners': {'$exists': False}}))
df_ej6

Empty DataFrame
Columns: []
Index: []

7. Todas las empresas que tienen un valor nulo en el campo `category_code`.

In [45]:
df_ej7 = pd.DataFrame(companies.find({"category_code":{"$eq":None}}))
df_ej7.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752980f6,Collective,collective,http://www.crunchbase.com/company/collective,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Thu Sep 26 13:15:02 UTC 2013,Thu Sep 26 13:15:02 UTC 2013,None,None,[],[],[],[],$0,[],[],None,[],[],[],None,[],[],[],[]
1,52cdef7c4bab8bd675298225,Snimmer,snimmer,http://www.crunchbase.com/company/snimmer,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Sat Feb 09 20:35:27 UTC 2008,Mon Mar 10 01:30:14 UTC 2008,None,None,[],[],[],[],$0,[],[],None,[],[],[],None,[],[],[],[]
2,52cdef7c4bab8bd675298226,KoolIM,koolim,http://www.crunchbase.com/company/koolim,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,,None,None,None,None,Sat Feb 09 20:35:27 UTC 2008,Mon Nov 29 19:02:26 UTC 2010,<p>KoolIM.com is a web messenger application t...,None,[],"[{'is_past': True, 'title': 'Co-Founder', 'per...","[{'competitor': {'name': 'eBuddy', 'permalink'...",[],$0,[],[],None,[],[],[],None,[],[],[],[]
3,52cdef7c4bab8bd675298261,Level9 Media,level9-media,http://www.crunchbase.com/company/level9-media,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Tue Feb 12 00:23:42 UTC 2008,Wed Feb 13 03:04:38 UTC 2008,None,None,[],[],[],[],$0,[],[],"{'price_amount': None, 'price_currency_code': ...",[],[],[],None,[],[],[],[]
4,52cdef7c4bab8bd675298262,VidKing,vidking,http://www.crunchbase.com/company/vidking,http://www.VidKing.com,,,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,,,None,Tue Feb 12 00:23:42 UTC 2008,Sat Sep 06 13:14:47 UTC 2008,None,None,[],[],[],[],$0,[],[],"{'price_amount': 150000, 'price_currency_code'...",[],[],[],None,[],[],[],[]

8. Todas las empresas que tienen al menos 100 empleados pero menos de 1000. Recupera solo los campos `name` y `number of employees`.

In [46]:
cond_1={"number_of_employees":{"$gte":100}}
cond_2={"number_of_employees":{"$lt":1000}}

df_8 = pd.DataFrame(companies.find({"$and":[cond_1, cond_2]}, {"name":1, "number_of_employees":1}))
df_8.head()

                        _id       name  number_of_employees
0  52cdef7c4bab8bd675297d8b  AdventNet                  600
1  52cdef7c4bab8bd675297da7    AddThis                  120
2  52cdef7c4bab8bd675297da8      OpenX                  305
3  52cdef7c4bab8bd675297db5   LifeLock                  644
4  52cdef7c4bab8bd675297dbb      Jajah                  110

9. Ordena todas las empresas por su precio de IPO en orden descendente.

In [47]:
df_9 =  pd.DataFrame(companies.find({}, {"name": 1, "_id": 0, "ipo.valuation_amount": 1}).sort({"ipo.valuation_amount": -1}))
df_9

                      name                                 ipo
0                     GREE  {'valuation_amount': 108960000000}
1                 Facebook  {'valuation_amount': 104000000000}
2                   Amazon  {'valuation_amount': 100000000000}
3                  Twitter   {'valuation_amount': 18100000000}
4                  Groupon   {'valuation_amount': 12800000000}
...                    ...                                 ...
18796               Adhunk                                 NaN
18797           AfterLogic                                 NaN
18798          goBookmaker                                 NaN
18799  EnteGreat Solutions                                 NaN
18800            EnteGreat                                 NaN

[18801 rows x 2 columns]

10. Recupera las 10 empresas con más empleados, ordenadas por el `número de empleados`.

In [48]:
df_10 = pd.DataFrame(companies.find({"number_of_employees":{"$ne":None}}).sort({"number_of_employees":-1}).limit(10))
df_10.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,1896,NaN,NaN,None,None,None,,,,ews@us.ibm.com,914-499-1900,,Fri Mar 14 22:55:52 UTC 2008,Sat Jan 04 02:56:24 UTC 2014,"<p>IBM, acronym for International Business Mac...","{'available_sizes': [[[150, 60], 'assets/image...","[{'name': 'Lotus Notes', 'permalink': 'lotus-n...","[{'is_past': False, 'title': 'Chairman of the ...","[{'competitor': {'name': 'BEA Systems', 'perma...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]
2,52cdef7d4bab8bd675299d33,Toyota,toyota,http://www.crunchbase.com/company/toyota,http://www.toyota-global.com,,,Toyota,enterprise,320000,1933,NaN,NaN,None,None,None,None,None,,,81 5 6528 2121,Automotive,Mon Sep 22 22:00:26 UTC 2008,Mon Nov 11 16:24:21 UTC 2013,<p>Toyota operates 75 manufacturing companies ...,"{'available_sizes': [[[135, 37], 'assets/image...",[],"[{'is_past': False, 'title': '', 'person': {'f...",[],"[{'title': '', 'is_past': True, 'provider': {'...",$0,[],"[{'funding_round': {'round_code': 'a', 'source...",None,[],"[{'description': 'HQ', 'address1': 'Toyota Mot...",[],None,"[{'embed_code': '<iframe width=""430"" height=""3...","[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,1998,12.0,1.0,None,None,None,None,"moneytransfer, crunchbase, ecommerce, paypal, ...",,,207-619-2873,Internet payment service,Wed Aug 01 09:16:46 UTC 2007,Fri Dec 20 04:43:53 UTC 2013,<p>PayPal is an online payments and money tran...,"{'available_sizes': [[[150, 51], 'assets/image...","[{'name': 'PayPal Here', 'permalink': 'paypal-...","[{'is_past': False, 'title': 'Vice President, ...","[{'competitor': {'name': 'KushCash', 'permalin...","[{'title': 'Public Relations', 'is_past': True...",$197M,"[{'id': 284, 'round_code': 'd', 'source_url': ...","[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7e4bab8bd67529b0fe,Nippon Telegraph and Telephone Corporation,nippon-telegraph-and-telephone-corporation,http://www.crunchbase.com/company/nippon-teleg...,http://www.ntt.co.jp/index_e.html,,,,None,227000,1985,4.0,1.0,None,None,None,None,None,,,,,Tue Feb 17 16:43:28 UTC 2009,Mon Dec 23 19:36:20 UTC 2013,<p>In the information and communication techno...,"{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': True, 'title': 'System consultant...",[],[],$0,[],"[{'funding_round': {'round_code': 'e', 'source...",None,[],"[{'description': 'NTT', 'address1': '3-1, Otem...",[],None,[],"[{'available_sizes': [[[150, 42], 'assets/imag...",[],[]